body {
    background-color: black;
    color: white;
}

.container {
    margin: 0px auto;
    width: 400px;
}

.game {
    margin-top: 20px;
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
}

.grid div, .mini-grid div {
    height: 20px;
    width: 20px;
}

.mini-grid {
    margin-left: 40px;
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    /* background-color: darkmagenta; */
}

.tetromino {
    background-color: coral;
}

button {
    background-color: aliceblue;
    border: none;
    cursor: pointer;
    padding: 1em;
}