body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00021c;
    color: white;
}

.header {
    margin: 20px auto;
    font-size: 60px;
    width: 600px;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 600px;
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #001f40;
    border: 1px solid lightblue;
}

.grid div, .mini-grid div {
    border-right: 1px solid #003d7d;
    border-bottom: 1px solid #003d7d;
    height: 19px;
    width: 19px;
}

.taken {
    border-right: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

/* BASIC ALIGNMENT */

.box {
    padding: 20px;
}

.left {
    width: 20%;
}

.game {
    width: 40%;
}

.right {
    width: 40%;
}

/* LEFT PANEL */

#start-button, #restart-button {
    background-color: aliceblue;
    border: none;
    cursor: pointer;
    padding: 1em;
    margin-top: 10px;
    width: 100px;
}

#start-button:hover {
    background-color: #9ACD32;
    color: white;
}

#restart-button:hover {
    background-color: #1a01d4;
    color: white;
}

.left .actions {
    text-align: right;
}

.left .buttons button {
    margin-left: 10px;
    align-items: flex-end;
}

.left table {
    margin-top: 40px;
    font-size: small;
}

.left td {
    width: 100px;
}

/* RIGHT PANEL */

.chart {
    border: 1px solid lightblue;
    margin-top: 40px;
}

.chart-section {
    padding: 20px;
    border-bottom: 1px solid lightblue;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.mini-grid {
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
}

/* GAME OVER */

#alert {
    display: none;
    position: fixed;
    top: 20%;
    left: 10%;
    height: 10em;
    width: 70%;
    background-color: yellowgreen;
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 60px;
}

#close-alert {
    position: absolute;
    cursor: pointer;
    background-color: yellowgreen;
    top: 10px;
    right: 10px;
}