body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.container {
    margin: 20px auto;
    width: 600px;
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #001f40;
    border: 1px solid lightblue;
}

.grid div, .mini-grid div {
    border-right: 1px solid #003d7d;
    border-bottom: 1px solid #003d7d;
    height: 19px;
    width: 19px;
}

.taken {
    border-right: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

.box {
    padding: 20px;
}

.left table {
    font-size: small;
}

.chart {
    border: 2px solid lightblue;
}

.chart-section {
    padding: 0 20px;
    border: 1px solid lightblue;
}

.mini-grid {
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
}

#start-button {
    background-color: aliceblue;
    border: none;
    cursor: pointer;
    padding: 1em;
}